
<div class = "center">
<h1 class = "main-title ">Stupid Coaching 🚀</h1>
<div class= "you-div ">
  <%= @ask%>
  <p>- You</p>
</div>

<div class = "coach-div ">
  <%= @answer%>
  <p>- Coach</p>
</div>
<%= link_to "Ask a new question", ask_path %>
</div>
